@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#canvas{
    border: 3px solid black;
    background-image: url(flappy-bird-background-vnzm62ypakupicll.jpg);
    background-size: cover;
    width: 60vh;
    height: 80vh;
}
.button{
    margin-top: 70px;
    width: 200px;
    height: 60px;
    background-color: orange;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}